.Card-Container {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 5%;
  border-radius: 7px;
  display: inline-block;
  padding: 3%;
  transform: scale(0.9);
  cursor: pointer;
  opacity: 0.8;
  width: auto;
  text-align: center;
}

.Card-Container:hover {
  transform: scale(1);
  transition-duration: 0.5s;
}

.Card-Container:active {
  background-color: #fff;
  background-size: 100%;
  transition: 0s;
}

.Card-Img {
  width: 150px;
  height: 100px;
}

@media screen and (orientation: portrait) {
  .Card-Container {
    display: block;
  }

  .Card-Img {
    width: auto;
    height: 150px;
  }
}
