.Menu-Container {
    border-radius: 10px;
    display: block;
    padding: 3%;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    background-color: rgba(201, 181, 218, 0.7);
}
h3 {
    font-family: euclid;
}